#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

passthrough '/style.css'
passthrough '/js/**/*'
passthrough '/images/**/*'


# Create printable version of specific pages
compile '/{prospectus,privacy_notice}*', :rep => :policy_printable do
  if !item.binary?
    filter :kramdown
    layout '/policy_printable.*'
    write item.identifier.without_ext + '/printable.html'
  end
end

compile '/facebook/index*', :rep => :policy_printable do
  if !item.binary?
    filter :kramdown
    layout '/policy_printable.*'
    write '/facebook/printable.html'
  end
end


# For each policy we create a distribution record and a printable
# version (without sidebar, footer menus etc.) as well as the
# 'normal' web page version
compile '/policies/**/*', :rep => :policy_distribution do
  if !item.binary?
    filter :kramdown
    layout '/policy_distribution_record.*'
    write item.identifier.without_ext + '.distribution.html'
  end
end

compile '/policies/**/*', :rep => :policy_printable do
  if !item.binary?
    filter :kramdown
    layout '/policy_printable.*'
    write item.identifier.without_ext + '.printable.html'
  end
end


# Special handling for root index page
# /index.md maps to /index.html and is not prettified
compile '/index*' do 
  filter :kramdown
  layout '/policy.*'
  write '/index.html'
end


# Create 'pretty' urls for top level directory only
# so /foo.md maps to /foo/index.md
# I don't really like this, but it's the default and
# what we used on the original Newstead nanoc site
compile '/*' do 
  if item.binary?
    write item.identifier.to_s
  else
    filter :kramdown
    layout '/policy.*'
    write item.identifier.without_ext + '/index.html'
  end
end


# We don't prettify urls in subdirectories
# so /foo/bar.md maps to /foo/bar.html
compile '/**/*' do
  if item.binary?
    write item.identifier.to_s
  else
    filter :kramdown
    layout '/policy.*'
    write item.identifier.without_ext + '.html'
  end
end


# Set language for layout files
layout '/**/*', :erb

